@{
    ViewData["Title"] = "Hermetech - Sitio Oficial";
}

<div class="hero-section">
    <div class="hero-text-container">
        <h1 class="hero-text-main">Tecnología que conecta.</h1>
        <div class="hero-text-upper text-uppercase">Soluciones que avanzan</div>
    </div>
</div>

<div class="section-dos-columnas mt-5">
    <div class="columna izquierda">
        <p>
            Hace más de 6 años nacimos con un propósito claro: acompañar a nuestros clientes en cada etapa de la evolución y transformación de sus negocios. <br />
            Con una respuesta ágil y de alta calidad, hemos crecido, cambiado y nos hemos adaptado, manteniendo siempre el compromiso de generar valor cada día.
        </p>
    </div>
    <div class="columna">
        <img src="/images/Oficinas.png" alt="Oficinas" />
    </div>
</div>

<h2 class="mt-5 h2 text-center">Tecnología para potenciar los resultados</h2>
<hr  />
<div class="contenedor-tarjetas mt-5">
    <div class="tarjeta">
        <div class="icono icono-integracion"></div>
        <div class="titulo">Integración digital</div>
        <div class="descripcion">Habilita la distribución de los servicios a través de múltiples canales propios y de terceros capitalizando las facilidades del ecosistema digital</div>
    </div>
    <div class="tarjeta">
        <div class="icono icono-valor"></div>
        <div class="titulo">Valor al cliente</div>
        <div class="descripcion">Diseño y funcionalidad para potenciar la experiencia del cliente y el valor con impacto en los resultados</div>
    </div>
    <div class="tarjeta">
        <div class="icono icono-tecnologia"></div>
        <div class="titulo">Tecnología inteligente</div>
        <div class="descripcion">Arquitectura y modelo de integración de tecnologías con orientación al negocio, optimización de costos, velocidad y seguridad de respuesta</div>
    </div>
    <div class="tarjeta">
        <div class="icono icono-flexible"></div>
        <div class="titulo">Flexible y robusta</div>
        <div class="descripcion">A medida de cada estrategia para acompañar el crecimiento y la continuidad que demanda el negocio</div>
    </div>
</div>

<div class="seccion-cta mt-5">
    <h2>Hermetech: El complemento diferencial<br>para asistirlo en la evolución del<br>negocio financiero de hoy y mañana</h2>
    <button class="boton-principal">CLICK AQUÍ</button>
</div>