<div class="hero-section">
    <div class="hero-text-container">
        <h1 class="hero-text-main">Tecnología que conecta.</h1>
        <div class="hero-text-upper text-uppercase">Soluciones que avanzan</div>
    </div>
</div>

<div class="section-dos-columnas mt-5">
    <div class="columna izquierda">
        <h2>Proyección, valor y<br>experiencia para<br>impulsar el<br>crecimiento</h2>
    </div>
    <div class="separador">
        <div class="icono-flecha"></div>
    </div>
    <div class="columna derecha">
        <p>Potenciamos la innovación en servicios financieros con soluciones integradas, ágiles y flexibles que transforman la experiencia del cliente en banca, banca digital, fintech, nuevos medios de pago y finanzas embebidas.</p>
    </div>
</div>


<h2 class="mt-5 h2 text-center">Tecnología para potenciar los resultados</h2>
<hr  />
<div class="contenedor-tarjetas mt-4">
    <div class="tarjeta">
        <div class="icono icono-integracion"></div>
        <div class="titulo">Integración digital</div>
        <div class="descripcion">Habilita la distribución de los servicios a través de múltiples canales propios y de terceros capitalizando las facilidades del ecosistema digital</div>
    </div>
    <div class="tarjeta">
        <div class="icono icono-valor"></div>
        <div class="titulo">Valor al cliente</div>
        <div class="descripcion">Diseño y funcionalidad para potenciar la experiencia del cliente y el valor con impacto en los resultados</div>
    </div>
    <div class="tarjeta">
        <div class="icono icono-tecnologia"></div>
        <div class="titulo">Tecnología inteligente</div>
        <div class="descripcion">Arquitectura y modelo de integración de tecnologías con orientación al negocio, optimización de costos, velocidad y seguridad de respuesta</div>
    </div>
    <div class="tarjeta">
        <div class="icono icono-flexible"></div>
        <div class="titulo">Flexible y robusta</div>
        <div class="descripcion">A medida de cada estrategia para acompañar el crecimiento y la continuidad que demanda el negocio</div>
    </div>
</div>