<div class="barra-destacada mt-5">
    <h2>La estructura de nuestra empresa</h2>
</div>

<div class="contenedor-perfiles">
    <div class="tarjeta-perfil">
        <div class="info-perfil">
            <h3>León Breslauer</h3>
            <p class="cargo">Gerente de Desarrollo</p>
            <button class="boton-mas">+</button>
        </div>
    </div>

    <div class="tarjeta-perfil">
        <div class="info-perfil">
            <h3>Gabriel Samaniego</h3>
            <p class="cargo">Gerente de Investigación</p>
            <button class="boton-mas">+</button>
        </div>
    </div>

    <div class="tarjeta-perfil">
        <div class="info-perfil">
            <h3>Tiziana Cavanna</h3>
            <p class="cargo">Gerente de Seguridad Informática</p>
            <button class="boton-mas">+</button>
        </div>
    </div>

    <div class="tarjeta-perfil">
        <div class="info-perfil">
            <h3>Bernabé Díaz Alvillos</h3>
            <p class="cargo">Gerente de Infraestructura</p>
            <button class="boton-mas">+</button>
        </div>
    </div>

    <div class="tarjeta-perfil">
        <div class="info-perfil">
            <h3>Santiago Romano</h3>
            <p class="cargo">Gerente de Recursos Humanos</p>
            <button class="boton-mas">+</button>
        </div>
    </div>
</div>