<div class="barra-destacada mt-5">
    <h2>La filosofía de nuestra empresa</h2>
</div>

<div class="seccion-destacada">
    <div class="contenedor-texto">
        <span>Misión</span>
        <p>Impulsar la evolución de los servicios financieros mediante soluciones integradas, dinámicas y adaptables, elevando la experiencia del cliente en banca tradicional, digital, fintech, medios de pago innovadores y finanzas embebidas.</p>
    </div>
</div>

<div class="seccion-destacada">
    <div class="contenedor-texto">
        <span>Visión</span>
        <p>Ser el proveedor líder de software bancario en Tucumán, con potencial expansión a nivel nacional, distinguiéndonos por nuestra capacidad para brindar soluciones tecnológicas innovadoras que optimicen la gestión financiera y transformen la experiencia del cliente en el sector bancario.</p>
    </div>
</div>

<div class="barra-destacada mt-5">
	<h2>Nuestros valores</h2>
</div>

<div  class="seccion-destacada">
	<div class="contenedor-texto">
        <span>Rapidez</span>
		<p>
            Respondemos con agilidad a los cambios del mercado.
        </p>
	</div>
</div>

<div  class="seccion-destacada">
    <div class="contenedor-texto">
        <span>Conectividad</span>
        <p>
            Unimos sistemas, ideas y personas con propósito.
        </p>
    </div>
</div>

<div  class="seccion-destacada">
    <div class="contenedor-texto">
        <span>Ingenio</span>
        <p>
            Creamos con inteligencia, aprendemos constantemente.
        </p>
    </div>
</div>

<div  class="seccion-destacada">
    <div class="contenedor-texto">
        <span>Integridad</span>
        <p>
            Construimos relaciones basadas en confianza.
        </p>
    </div>
</div>