@{
    ViewData["Title"] = "Nuestra filosofía - Hermetech";
}

<div class="barra-destacada mt-5">
    <h2>La filosofía de nuestra empresa</h2>
</div>

<div class="section-dos-columnas mt-5">
    <div class="columna derecha">
        <h2>Proyección, valor y<br>experiencia para<br>impulsar el<br>crecimiento</h2>
    </div>
    <div class="separador">
        <div class="icono-flecha"></div>
    </div>
    <div class="columna izquierda">
        <p>Nuestra misión es impulsar la innovación en servicios financieros con soluciones integradas, ágiles y flexibles que transforman la experiencia del cliente en banca, banca digital, fintech, nuevos medios de pago y finanzas embebidas.</p>
    </div>
</div>

<div class="barra-destacada mt-5">
	<h2>Nuestros valores</h2>
</div>

<div  class="seccion-destacada">
	<div class="contenedor-texto">
        <span>Rapidez</span>
		<p>
            Respondemos con agilidad a los cambios del mercado.
        </p>
	</div>
</div>

<div  class="seccion-destacada">
    <div class="contenedor-texto">
        <span>Conectividad</span>
        <p>
            Unimos sistemas, ideas y personas con propósito.
        </p>
    </div>
</div>

<div  class="seccion-destacada">
    <div class="contenedor-texto">
        <span>Ingenio</span>
        <p>
            Creamos con inteligencia, aprendemos constantemente.
        </p>
    </div>
</div>

<div  class="seccion-destacada">
    <div class="contenedor-texto">
        <span>Integridad</span>
        <p>
            Construimos relaciones basadas en confianza.
        </p>
    </div>
</div>