<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AdminRecursos_TP1_Teoria.styles.css" asp-append-version="true" />
</head>
<body class="bg-body-secondary">
    <header class="header-principal">
        <div class="contenedor-header">
            <div class="logo">
                <img src="/logo-hermetech.png" alt="Logo de Hermetech">
            </div>
            <nav class="navegacion-principal">
                <ul>
                    <li><a asp-controller="Home" asp-action="Index">Menú principal</a></li>
                    <li><a asp-controller="Home" asp-action="NuestraEmpresa">Nuestra empresa</a></li>
                    <li class="dropdown">
                        <a href="#">Sobre nosotros<span class="flecha-dropdown">▼</span></a>
                        <ul class="dropdown-menu">
                            <li><a asp-controller="Home" asp-action="NuestraFilosofia">Nuestra filosofía</a></li>
                            <li><a asp-controller="Home" asp-action="ObjetivosYEstrategias">Objetivos</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
   
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer-oscuro mt-5">
        <div class="contenedor-footer">
            <p>&copy; 2025 Hermetech. Todos los derechos reservados.</p>
            <ul>
                <li><a href="#">Términos y Condiciones</a></li>
                <li><a href="#">Política de Privacidad</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
